@charset "utf-8";
/* CSS Document */


a {
    text-decoration: none;
}
 
.hover-panel {
    background-color:#004080;
    background-image: url(http://www.avocat-rainio.com/images/forward--2-.png);
    background-position: 292px 10px;
    background-repeat: no-repeat;
    color: #ffffff;
    float: left;
    height: 55px;
    width: 262px;
    margin: 0 10px 10px 0;
    padding: 15px;
     -moz-transition: all 0.2s ease; /* FF3.7+ */
       -o-transition: all 0.2s ease; /* Opera 10.5 */
  -webkit-transition: all 0.2s ease; /* Saf3.2+, Chrome */
          transition: all 0.2s ease;
}
 
.hover-panel h3 {
    font-family:"Segoe Script";
    font-size: 36px;
    line-height: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}
 
.hover-panel p {
    font-size: 12px;
    width: 65%;
}
 
.hover-panel:hover {
    background-color: #237ABE;
    background-position: 180px 10px;
}
 
.hover-panel:hover h3 {
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 4px;
}
 
.hover-panel:hover p {
    color: #FFF:
}
 

